/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/images
/public/js
/public/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
.idea
composer.lock
package-lock.json
public/ckeditor
public/ckeditor_basic
public/mix-manifest.json
_ide_helper.php
_ide_helper_models.php